<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{user.username}}'s posts</h1>
    {% for post in user.posts.all %}
    <div>
        <h3>{{user.username}}</h3>
        <img width="300" src="{{post.image.url}}" alt="">
        <p>{{post.description}}</p>
    </div>
    {% endfor %}
</body>
</html>